---
import type { RequiredProps } from "@src/types";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";

const selectVariants = cva(
  [
    "absolute",
    "grid",
    "grid-cols-2",
    "w-96",
    "rounded-sm",
    "z-20",
    "bg-primary-050",
  ],
  {
    variants: {
      flow: {
        right: [],
        left: ["right-0"],
      },
    },
  },
);

interface Props
  extends HTMLAttributes<"div">,
    RequiredProps<typeof selectVariants, "flow"> {
  name: string;
}

const { name, class: classList, flow } = Astro.props;
---

<div class={`relative ${classList}`} {...Astro.props}>
  <button
    class="flex items-center justify-between gap-3 hover:bg-primary-200 cursor-pointer py-3 px-5"
    @click={`name = name == "${name}" ? "" : "${name}"`}
    >{name}<svg
      class="w-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg>
  </button>
  <div
    class={`${selectVariants({ flow })}`}
    x-show={`name == "${name}"`}
    x-cloak
  >
    <slot />
  </div>
</div>
